/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;;
}

body{
    margin-top: 3rem;
}

.flex{
    display: flex;
}

.container{
    width: 100%;
    margin: 0 auto;
}

img{
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: currentColor;
}

ul{
    list-style: none;
}

.btn{
    padding: 0.7rem 0.5rem;
    border-radius: 30px;
    margin: 0 1rem;
    display: inline-block;
}

.card{
    margin: 1.5rem;
    border-radius: 30px;
    padding: 1rem;
}

section{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.bg_purple{
    background-color: var(--purple);
    color: white;
}

.bg_white{
    background-color: white;
    color: black;
}

.bg_lightblue{
    background-color: var(--lightblue);
    color: #5a6e7f;
}

.bg_blue{
    background-color: var(--blue);
    color: white;
}

/* TEMPORARY*/
/* .border{
    border: 2px dashed black;
} 

.card{
    min-height: 200px;
} */

/* ROOTS */
:root{
    --blue: #0084fd;
    --lightblue: #b5ddff;
    --purple: #9792e4;
    --orange: #fdc15f;
    --dark: #333333;
}

/* HEADER */
header{
    padding: 1rem;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 5rem;
}

header nav{
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

nav .nav_1200{
    display: none;
}

/* MAIN */
.download{
    font-size: 1.2rem;
    margin: 1rem;
    padding: 0.5rem 3rem;
    font-weight: 600;
    letter-spacing: 2px;
}

h3{
    font-size: 1.5rem;
    padding: 1rem 0;
}

.card_jumbo p{
    font-weight: 600;
    padding: 1rem 2rem;
    line-height: 1.8rem;
}

.card_jumbo_lg{
    text-align: left;
}

.card_jumbo img{
    width: 300px;
    position: relative;
    bottom: -1rem;
    left: 3rem;
}

.blue{
    color: var(--blue);
}

.title_card_jumbo i{
    font-size: 4rem;
    padding: 3rem;
}

.card_planning{
    text-align: left;
}

.card_planning h2{
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 2.5rem;
}

.card_white{
    text-align: center;
}

.card_white p{
    font-size: 1.2rem;
    font-style: italic;
    line-height: 2rem;
}

.arrow_down{
    padding: 1rem;
    background-color: var(--purple);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin: 2rem auto;
}

.top_testimonials{
    padding: 2rem;
}

.about_us_content,
.owner{
    padding: 1rem;
}

/* FOOTER */
footer{
    background-color: var(--dark);
    color: white;
    text-align: center;
    padding: 2rem;
}

.container_sm{
    max-width: 400px;
    margin: 0 auto;
}

footer a{
    text-decoration: underline;
    color: var(--purple);
}

/* MEDIA QUERY */
@media screen and (min-width: 768px) {
    .row_jumbo{
        display: flex;
        flex-wrap: wrap;
    }

    .card_jumbo{
        flex-basis: calc(100% / 3 - 3rem);
    }

    .card_jumbo_lg{
        flex-basis: calc(100% / 3 * 2 - 3rem);
    }

    .row_features{
        display: flex;
        flex-wrap: wrap;
    }

    .card_features{
        flex-basis: calc(50% - 3rem);
    }

    .about_us{
        display: flex;
    }

}

@media screen and (min-width: 1200px) {
    .container{
        max-width: 1100px;
        margin: 0 auto;
    }

    #hamburger{
        display: none;
    }

    nav .nav_1200{
        display: block;
        font-size: 1.1rem;
    }

    nav a{
        padding: 0 10px;
    }

    .card_jumbo_lg{
        display: flex;
    }

    .card_jumbo_content{
        text-align: left;
    }

    .card_jumbo_content p{
        padding: 0;
    }

    .download{
        margin-left: 0;
    }

    .card_jumbo img{
        left: 0;
    }

    .row_planning{
        display: flex;
        justify-content: center;
        padding: 2rem;
    }

    .card_features{
        flex-basis: calc(100% / 3 - 2rem);
    }

    .row_planning{
        display: flex;
    }

    .row_planning .card_white{
        align-self: flex-end;
    }

    .big{
        margin: 6rem 0;
    }
}