/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

/* TEMPORARY */
.border{
    border: 2px dashed black;
}

/* ROOTS */
:root{
    --blue: #0084fd;
    --lightblue: #b5ddff;
    --purple: #9792e4;
    --orange: #fdc15f;
    --dark: #333333;
}